{
    "gamecenter_wiki_UserGroups": "automoderated_bilibili_interface-admin_moderator_sysop",
    "gamecenter_wiki_UserID": "YOUR_USER_ID",
    "gamecenter_wiki_UserName": "YOUR_USER_NAME",
    "gamecenter_wiki__session": "YOUR_SESSION_TOKEN",
    "SESSDATA": "YOUR_SESSDATA"
}
